<div class="container-scm-slider" style="display: inline-block;">
  <div data="scmBannerSlider" data-id="{{ section.settings.scm_banner_slider }}" style="display: none;"></div>
</div>
{% schema %}
{
  "name": "SmartifyApps Slider",
  "settings": [
    {
      "type": "select",
      "id": "scm_banner_slider",
      "label": "Choose a slider",
      "options": [
        {
          "value": "",
          "label": "Choose a slider"
        },
                {
          "value": "26330",
          "label": "Home Slider"
        }              ],
      "default": "26330"
    }
  ],
  "presets": [{
    "name": "SmartifyApps Banner Slider",
    "category": "SmartifyApps Slider"
  }]
}
{% endschema %}
